table#sinine{
    border: 1px solid blue;
    width: 30%;
    height: 200px;
}
table#sinine td{
    border: 1px solid blue;
    text-align: center;
}
table#punane{
    border: 1px solid red;
    width: 40%;
    height: 200px;
    border-collapse: collapse;
}
table#punane td{
    border: 1px solid red;
    text-align: center;
}
table#roheline{
    border: 1px solid green;
    width: 20%;
    height: 100px;
    border-collapse: collapse;
}
table#roheline td{
    border: 1px solid green;
    text-align: center;
}
/*pseudoelementide kasutamine*/
/*1.rida 1.lahter*/
#sinine tr:nth-child(1) td:nth-child(1){
    background-color: red;
}
/*1.rida 2.lahter*/
#sinine tr:nth-child(1) td:nth-child(2){
    background-color: yellow;
}
table#pink{
    border: 1px solid pink;
    width: 20%;
    height: 100px;
    border-collapse: collapse;
}
table#pink td{
    border: 1px solid pink;
    text-align: center;
    background-color: plum;
}
table#iseseisev{
    border: 1px solid grey;
    width: 20%;
    height: 100px;
    border-collapse: collapse;
}
table#iseseisev td{
    border: 1px solid grey;
    text-align: center;
}