body {
    background-color: lightblue;
}

fieldset {
    border: 2px solid darkblue;
    background-color: lavender;
    border-radius: 10px;
}

input[type=radio] {
    accent-color: purple;
}

input[type=checkbox] {
    accent-color: purple;
}

input[type=button] {
    border: 2px solid darkblue;
    padding: 10px;
    background-color: lightsteelblue;
    border-radius: 10px;
}

input[type=button]:hover {
    background-color: teal;
}

label {
    font-weight: bold;
    padding: 2px;
}

label:hover {
    color: teal;
}

textarea {
    border: 2px solid darkblue;
    border-radius: 5px;
}


select {
    border: 2px solid darkblue;
    border-radius: 5px;
    padding: 5px;
}

div {
    background-color: lavender;
    border: 2px solid darkblue;
    border-radius: 5px;
    padding: 5px;
}
#smiley {
    background-color: transparent;
    border: none;
    padding: 0;
    text-align: center;
}
#sad {
    background-color: transparent;
    border: none;
    padding: 0;
    text-align: center;
}
#vastus7 {
    background-color: transparent;
    border: none;
    padding: 0;
    text-align: center;
}


table{
    width: 50%;
    background-color: lightsteelblue;
    border-radius: 10px;
}